*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Space+Mono&display=swap');

body{
  background-color: hsl(273, 75%, 66%);
  width: 100%;
  
}

.main{
  display: flex;
  justify-content: center;
  flex-direction: column;
}
